%table.table.table-striped.table-bordered.table-hover.table-condensed.table-default
  %tr
    %th Name
    %th Description

  - @candidates.each do |candidate|
    %tr
      %td= link_to candidate.name, candidate_path(candidate)
      %td= truncate(candidate.description, :length => 200)