%h1 Candidates

- flash.each do |key, value|
  %div{:class => (flash_class(key))}
    = value

%table.table.table-striped.table-bordered.table-hover.table-condensed.table-default
  %tr
    %th Name
    %th Description

  - @candidates.each do |candidate|
    %tr
      %td= link_to candidate.name, candidate_path(candidate)
      %td= candidate.description

%br

= link_to 'New Candidate', new_candidate_path
