/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    padding-top: 40px;
}

#main_content {
    width: 80%;
}

#ads_right_side {
    float: right;
    width: 15%;
    margin-top: 40px;
}

.for_issue {
    background-color: #dff0d8;
}

.against_issue {
    background-color: #f2dede;
}

.description {
    padding-top: 10px;

}

.image_name {
    display: inline;
    vertical-align: top;
    padding-left: 20px;
}

.issue_header {
    text-align: center;
}