<p><%= @email %>:</p>

<p>Thank you for registering at politicly.org</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>To learn more about us, you can check out <a href="http://www.politicly.org/about.html">www.politicly.org/about.html</a></p>

<p>If you have any questions, please reach out to info@politicly.org.</p>
<!--TODO fix confirmation url-->